<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="app/app.module.js"></script>
  <head>
    <title>To-Do List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">

    <script src="./controllers/todo.js"></script>
    <script src="./controllers/checkbox.js"></script>
    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body ng-app="toDoList">
    <div class="centerTitle">
    <my-app>Loading AppComponent content here ...</my-app>
    </div>

    <div class="centerBox">
    <div ng-controller="toDoCtrl">
      <div class="center">
        <p>{{errortext}}</p>
        <input ng-model="addMe" ng-keypress="myEnter($event)" id="toDoBox">
        <button ng-click="addItem($event)" class="changeToPointer">Add</button>
        <p ng-repeat="x in items"><input type="checkbox" ng-model=checkboxModel.value>
          {{x.name}}
          <span ng-click="removeItem($index)" class="changeToPointer">
            <font color = "#E74C3C">[X]</font>
          </span>
        </p>
      </div>
    </div>
    </div>
  </body>
</html>